#main-yes-or-no {
    font-size: 300px;
    font-style: bold;
}

.tiny-text {
    font-size: 12px;
}


.modal-weather-header {
    font-size: 18px;
    text-decoration: underline;
}

.modal-weather-header-main {
    font-size: 20px;
    font-style: bold;

}

body {
    background: #333 url("/static/img/green-succulent-plants-on-pots-1470171.jpg");
    background-size: cover;
    height: 100%

    color: black;
    text-align: center;
}