#main-yes-or-no {
    font-size: 300px;
    font-style: bold;
}

.tiny-text {
    font-size: 12px;
}

body {
    background: #333 url("/static/img/plant_minimal.jpg");
    background-size: cover;

    color: black;
    text-align: center;
}